 <div id="banner" OnClick="AutoHide()" style="background-image:url('{{=it.config.announcement.bg_image}}');background-repeat: <?php echo $config->announcement->bg_repeat; ?>; text-shadow:-0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;">
        <script>transformBackground(document.getElementById("banner"))</script>
            <p>{{=announcement.title}}</p>
            <p>{{=announcement.tagline}}</p>
            <a href="{{=announcement.url}}">
                <button>{{=announcement.button_text}}</button>
            </a>
        </div>
        <div id="social" OnClick="AutoHide()">
            <marquee onmouseover="this.stop();" onmouseout="this.start();">
                {{ for each(var announce in it.minor_announcements){ }}
                {{if(announce.isLink){?>
                <p><a style="color: inherit; text-decoration: underline;" href="{{=announce.url}}">{{=announce.text}}</a></p>
                {{}else{}}
                <p>{{=announce.text}}</p>
                {{ } }}
            </marquee>
        </div>

        <main OnClick="AutoHide()">
            <div>

                <!-- Discord Widget -->
                <div class="main-discord">
                    <p>Where We Talk</p>
                    <iframe src="https://discordapp.com/widget?id=140118896655990784&theme=dark" allowtransparency="true"></iframe>
                </div>

                <!-- Giveaways -->
                <a name="giveaways"></a>
                <div class="main-giveaways">
                    <p>Giveaways</p>
                    <?php $givCount=0; foreach($config->giveaways as $giveaway){ ?>
                    <!-- Giveaway 1 -->
                    <div style="background-image:url('<?php echo $giveaway->bg_img; ?>');background-repeat: <?php echo $giveaway->bg_repeat;?>;"id="giv-<?php $givCount+=1; echo $givCount; ?>">
                        <p><?php echo $giveaway->title; ?></p>
                        <p><?php echo $giveaway->end_date; ?></p>
                        <p><small>Promoted by</small> <?php echo $giveaway->promoter ?></p>
                        <a href="<?php echo $giveaway->url; ?>"><!-- Link this to the SteamGifts page. -->
                            <button>Enter</button>
                        </a>
                    </div>
                    <script>transformBackground(document.getElementById("giv-<?php echo $givCount; ?>"))</script>
                    <?php } ?>

                </div>

            </div>
            <div>

                <!-- Promoted Games -->
                <div class="main-promoted">
                    <p>Promoted Games</p>

                    <?php $gamCount=0; foreach($config->promoted_games as $game){ ?>
                    <!-- Game 1 -->
                    <div style="background-image:url('<?php echo $game->bg_img; ?>');background-repeat: <?php echo $game->bg_repeat; ?>;" id="gam-<?php $gamCount+=1; echo $gamCount; ?>">
                        <p><?php echo $game->title; ?></p>
                        <p><?php echo $game->tagline; ?></p>
                        <?php foreach($game->buttons as $btn){ ?>
                        <a href="<?php echo $btn->url; ?>"><!-- Link to Action -->
                            <button><?php echo $btn->text; ?></button>
                        </a>
                        <?php } ?>
                    </div>
                    <script>transformBackground(document.getElementById("gam-<?php echo $gamCount; ?>"))</script>
                    <?php } ?>
                </div>

            </div>
        </main>