
<!DOCTYPE html>
<html>
<head>
<title>Moonsquads</title>
<style>html{overflow-y:scroll;}body{background:black;font-family:Helvetica,sans-serif;padding:0 5%;color:white}#main{background:gray;max-width:600px;text-align:left;padding:1.5em;margin:3em auto 1em;box-shadow:1.5px 1.5px 6px rgba(0,0,0,0.15);}#footer{font-size:small;color:rgba(255,255,255,1);text-align:right;}.nav{text-align:right;}.disabled-link{color:#999;}.pagination{font-size:small;}h1{display:inline;text-align:left;}h2{display:inline;color:gray;}a{color:darkgray;text-decoration:none;}a:hover{color:#007199;}hr{color:#f5f5f5;background-color:#f5f5f5;height:5px;border:0px;}pre{overflow-x:scroll;}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="mustache.min.js"></script>
<script>
function httpGet(theUrl){
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
var config = JSON.parse(httpGet("/homepagefix/config.json"));
</script>
</head>
<body>
<script id="tmpl" type="x-tmpl-mustache">
<h1>{{config.announcement.title}}</h1>
<ul>
{{#config.minor_announcements}}
<li>{{#is_link}}<a href="{{url}}">{{/is_link}}{{text}}{{#is_link}}</a>{{/is_link}}</li>
{{/config.minor_announcements}}
</ul>
<h2>Giveaways</h2>
<ul>
{{#config.giveaways}}
<li><a href="{{url}}">{{title}}</a> - <i>Promoted by {{promoter}}.</i></li>
{{/config.giveaways}}
</ul>
<h2>Games</h2>
{{#config.promoted_games}}
<h3 style="text-align: center;">{{title}}</h3>
<ul>
{{#buttons}}
 <a href="{{url}}">{{text}}</a> 
{{/buttons}}
</ul>
<!-- LOOP THROUGH BUTTONS -->
{{/config.promoted_games}}
</script> 
<div id="main">
<div class="nav">
<a href="http://moonsquads.com">Home</a> &bull;
<a href="https://bitbucket.org/msqd">Bitbucket</a>
</div>
<br/>
<h1>Moonsquads</h1>
<h2>Home</h2>
<hr/>
<div id="content"></div>
<script>
var tmpl = document.getElementById("tmpl").innerHTML;
document.getElementById("content").innerHTML = Mustache.render(tmpl,{config:config});
</script>
<hr/>
<div id="footer">
&copy; Moonsquads. [<a href="https://bitbucket.org/msqd/msqd.bitbucket.org/src/master/homepagefix/mustache/test1.html">View file on Bitbucket.</a>]
</div>
</div>
</body>
</html>
