 <div id="banner" OnClick="AutoHide()" style="background-image:url('<%=config.announcement.bg_image; %>');background-repeat: <%=config.announcement.bg_repeat; %>; text-shadow:-0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;">
        <script>transformBackground(document.getElementById("banner"))</script>
            <p><%=config.announcement.title; %></p>
            <p><%=config.announcement.tagline; %></p>
            <a href="<%=config.announcement.url; %>">
                <button><%=config.announcement.button_text; %></button>
            </a>
        </div>
        <div id="social" OnClick="AutoHide()">
            <marquee onmouseover="this.stop();" onmouseout="this.start();">
                <% for each(var announce in config.minor_announcements){
                if(announce.isLink){%>
                <p><a style="color: inherit; text-decoration: underline;" href="<%=announce.url; %>"><%=announce.text; %></a></p>
                <% }else{ %>
                <p><%=announce.text; %></p>
                <% } } %>
            </marquee>
        </div>

        <main OnClick="AutoHide()">
            <div>

                <!-- Discord Widget -->
                <div class="main-discord">
                    <p>Where We Talk</p>
                    <iframe src="https://discordapp.com/widget?id=140118896655990784&theme=dark" allowtransparency="true"></iframe>
                </div>

                <!-- Giveaways -->
                <a name="giveaways"></a>
                <div class="main-giveaways">
                    <p>Giveaways</p>
                    <% givCount=0; for each(var giveaway in config.giveaways){ %>
                    <!-- Giveaway 1 -->
                    <div style="background-image:url('<%=giveaway.bg_img; %>');background-repeat: <%=giveaway.bg_repeat;%>;"id="giv-<% givCount+=1; echo givCount; %>">
                        <p><%=giveaway.title; %></p>
                        <p><%=giveaway.end_date; %></p>
                        <p><small>Promoted by</small> <%=giveaway.promoter %></p>
                        <a href="<%=giveaway.url; %>"><!-- Link this to the SteamGifts page. -->
                            <button>Enter</button>
                        </a>
                    </div>
                    <script>transformBackground(document.getElementById("giv-<%=givCount; %>"))</script>
                    <% } %>

                </div>

            </div>
            <div>

                <!-- Promoted Games -->
                <div class="main-promoted">
                    <p>Promoted Games</p>

                    <% gamCount=0; for each(var game in config.promoted_games){ %>
                    <!-- Game 1 -->
                    <div style="background-image:url('<%=game.bg_img; %>');background-repeat: <%=game.bg_repeat; %>;" id="gam-<% gamCount+=1; echo gamCount; %>">
                        <p><%=game.title; %></p>
                        <p><%=game.tagline; %></p>
                        <% for each(var btn in game.buttons){ %>
                        <a href="<%=btn.url; %>"><!-- Link to Action -->
                            <button><%=btn.text; %></button>
                        </a>
                        <% } %>
                    </div>
                    <script>transformBackground(document.getElementById("gam-<%=gamCount; %>"))</script>
                    <% } %>
                </div>

            </div>
        </main>