<div id="main"></div>
<script src="ejs.min.js"></script>
<script>
function httpGet(theUrl){
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
var config = JSON.parse(httpGet("/homepagefix/config.json"));
var tmpl = httpGet("/homepagefix/ejs/template1.html");
document.getElementById("main").innerHTML = ejs.render(tmpl,{config:config});
</script>